<!DOCTYPE html>
<html>
  <head>
    <title>Flight Booking</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <style type="text/css">
    body {
      background-image: url("https://images.unsplash.com/photo-1569154941061-e231b4725ef1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
      background-repeat: no-repeat;
      background-size: cover;
    }
    .blog-footer {
      padding: 2.5rem 0;
      color: #999;
      text-align: center;
      background-color: #f9f9f9;
      border-top: 0.05rem solid #e5e5e5;
    }
    .blog-footer p:last-child {
      margin-bottom: 0;
    }
  </style>
  <body>
    <div class="container">
      <div class="row"></div>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
          <center>
            <h1>Welcome to Aviation</h1>
            <p>Book flights easily, at best prices!</p>
            <a href="/register"
              ><button class="btn btn-sm btn-dark">Register</button></a
            >
            <a href="/login"
              ><button class="btn btn-sm btn-dark">Login</button></a
            >
          </center>
        </div>
        <div class="col-3"></div>
      </div>
      <div class="row"></div>
    </div>
  </body>
</html>
