<!DOCTYPE html>
<html>
	<head>
		<title>Admin Login</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<style type="text/css">
		body{
			background-image: url('https://images.unsplash.com/photo-1569154941061-e231b4725ef1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
			background-repeat: no-repeat;
			background-size: cover;
		}
		</style>
	</head>
	<body>
		<br><br>
		<form method="POST" action="/loginadmin">
			<div class='container'>
				<div class='row'>
					<div class="col-sm"></div>
					<div class="col-sm"><center><h1>Admin Login Page</h1></center></div>
					<div class="col-sm"></div>
				</div>
				<div class='row'>
					<div class="col-sm"></div>
					<div class="col-sm jumbotron">
						<div class="form-group row">
				    		<label for="exampleInputEmail1">Email address</label>
				    		<input type="email" class="form-control" name = "username" id="exampleInputEmail1" aria-describedby="emailHelp" required>
						</div>
						<div class="form-group row">
				    		<label for="exampleInputPassword1">Password</label>
				    		<input type="password" class="form-control" name = "password" id="exampleInputPassword1" required>
						</div>
						<center><button class="btn btn-primary">Login</button></center>
						<center><small>New admin? <a href="/register">Signup</a> instead.</small></center>
					</div>
					<div class="col-sm"></div>
				</div>
			</div> 
		</form>
	</body>
</html>